.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 70px;
  margin-bottom: 25px;
}

.header .logo-container {
  height: 100%;
  width: 70px;
  padding: 25px;
}

.header .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100%;
  width: 50%;
  cursor: pointer;
}

.header .options .option {
  padding: 10px 15px;
  margin-left: 10px;
}

.allsides-1 {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, currentColor)) 100% 0, -webkit-gradient(linear, left top, left bottom, color-stop(0, currentColor)) 0 0, -webkit-gradient(linear, left top, left bottom, color-stop(0, currentColor)) 0 100%, -webkit-gradient(linear, left top, left bottom, color-stop(0, currentColor)) 100% 100%;
  background: linear-gradient(currentColor 0 0) 100% 0, linear-gradient(currentColor 0 0) 0 0, linear-gradient(currentColor 0 0) 0 100%, linear-gradient(currentColor 0 0) 100% 100%;
  background-size: var(--d, 0) 2px, 2px var(--d, 0);
  background-repeat: no-repeat;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.allsides-1:hover {
  --d: 100%;
}

.d-2 {
  --b:4px;
  /* border length*/
  --c:20px;
  /* the cube perspective */
  --g:calc(var(--c)*0.707);
  /* 0.707 = cos(45deg) = sin(45deg) */
  color: black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: solid transparent;
  border-width: var(--b) calc(var(--c) + var(--b)) calc(var(--c) + var(--b)) var(--b);
  background: linear-gradient(45deg, transparent var(--g), rgba(255, 255, 255, 0.6) 0) right/var(--c) 100%, linear-gradient(-135deg, transparent var(--g), rgba(255, 255, 255, 0.3) 0) bottom/100% var(--c), conic-gradient(from -180deg at top var(--b) left var(--b), currentColor 270deg, transparent 0), conic-gradient(from 0deg at bottom calc(var(--c) + var(--b)) right calc(var(--c) + var(--b)), currentColor 270deg, transparent 0);
  background-repeat: no-repeat;
  background-origin: border-box;
  -webkit-transform: translate(calc(var(--c)/1), calc(var(--c)/1));
          transform: translate(calc(var(--c)/1), calc(var(--c)/1));
  -webkit-clip-path: polygon(calc(100% - var(--c)) 0%, calc(100% - var(--c)) 0%, 0% 0%, 0% calc(100% - var(--c)), 0% calc(100% - var(--c)), calc(100% - var(--c)) calc(100% - var(--c)), calc(100% - var(--c)) calc(100% - var(--c)));
          clip-path: polygon(calc(100% - var(--c)) 0%, calc(100% - var(--c)) 0%, 0% 0%, 0% calc(100% - var(--c)), 0% calc(100% - var(--c)), calc(100% - var(--c)) calc(100% - var(--c)), calc(100% - var(--c)) calc(100% - var(--c)));
}

.d-2:hover {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-clip-path: polygon(100% var(--c), calc(100% - var(--c)) 0%, 0% 0%, 0% calc(100% - var(--c)), var(--c) 100%, 100% 100%, 100% 100%);
          clip-path: polygon(100% var(--c), calc(100% - var(--c)) 0%, 0% 0%, 0% calc(100% - var(--c)), var(--c) 100%, 100% 100%, 100% 100%);
}

.inverted {
  background: linear-gradient(-45deg, #d9d9d9 40%, #fff 0 60%, black 0) right/300% 100% no-repeat, linear-gradient(-45deg, transparent 40%, #d9d9d9 0 60%, transparent 0) right/300% 100% no-repeat;
  background-clip: text, padding-box;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.inverted:hover {
  background-position: left;
}
/*# sourceMappingURL=header.styles.css.map */